@model SaafiSystems.ViewModels.DriverLoadsViewModel


<div class="page-header" style="background:white">
    <h1 style=" font-size: 21px;color: #0b131d; font-weight: 400;font-size: 21px;margin-top: 20px;margin-bottom: 10px;font-family: inherit;font-weight: 400;line-height: 1.1;color: inherit;margin: .67em 0; font-size: 2em; box-sizing: border-box;display: block;font-size: 2em; font-weight: bold;">
      @ViewBag.Title
        <a asp-controller="Driver" asp-action="Add" class="hidden-xs btn btn-primary pull-right">+ Add New Item</a> <a asp-controller="Owner" asp-action="AddItem" class="visible-xs-block mobile-add btn-block btn btn-success">+ Add New Item</a>
        <a asp-controller="DriverName" asp-action="Add" class="hidden-xs btn btn-success pull-right">+ New Driver</a> <a asp-controller="Owner" asp-action="Add" class="visible-xs-block mobile-add btn-block btn btn-success">+ New Owner</a>
    </h1>
</div>

@if (Model.Drivers.Count == 0)
{
    <p>No load entries yet!</p>
}
<form asp-controller="Driver" asp-action="Remove" method="post">
    <table class="table table-striped">

        <tr>
            <th>Date</th>
            <th>Reference</th>

            <th>Description</th>
            <th>LoadMiles</th>
            <th>DeadMiles</th>
            <th> Rate</th>
            <th> Driver Name</th>
            <th>Action</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Drivers)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Reference</td>

                <td>@item.Description</td>
                <td>@item.LoadMiles</td>
                <td>@item.DeadMiles</td>
                <td>@item.Rate</td>
                <td>@item.DriverName.Name</td>
                <td>
                    <input type="checkbox" name="loadIds" id="@item.ID" value="@item.ID" class="btn btn-danger btn-sm" />
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                </td>
                <td>
                    <input type="checkbox" name="loadIds" id="@item.ID" value="@item.ID" class="btn btn-danger btn-sm" />
                    <input type="submit" value="Edit" class="btn btn-info btn-sm" />
                </td>
            </tr>
        }
    </table>

    
</form>

<a asp-controller="Driver" asp-action="Add" class="btn btn-info  btn-sm">Add Trip</a>
<a asp-controller="Owner"> <span class="btn btn-info  btn-sm pull-right">Owner Operators</span> </a>