@model SaafiSystems.Models.Driver

<h1>@ViewBag.title</h1>
@if (ViewBag.driver.Count == 0)
{
    <p>No driver entries to remove</p>

}

<form method="post">


    @foreach (var entry in ViewBag.drivers)
    {
        <input type="checkbox" name="driverIds" id="@Model.ID" value="@Model.ID" />
        <label for="@Model.ID">@Model.Description</label>
        <br />
    }

    <input type="submit" value="Remove Selected Entries(s)" />
</form>