
<h1>Current Loads</h1>

@if (ViewBag.loads.Count == 0)
{
    <p> No Loads Processed Yet!</p>
}
<ul>
    @foreach (KeyValuePair<string, string> pair in ViewBag.loads)
    {
        <li>
            @pair.Key  @pair.Value
            <form method="post">
                <input name="name" type="checkbox" value="load" />
                <input type="submit" value=" Remove Me" /> <br />
            </form>
        </li>

    }

</ul>
<h1>@ViewBag.title</h1>

<form method="post">

    @foreach (var load in Model)
    {
        <input type="checkbox" name="cheeseIds" id="@load.loadId" value="@load.loadId" />
        <label for="@load.loadId">@load.Date</label>
        <br />
    }

    <input type="submit" value="Remove Selected Load(s)" />
</form>