@model List<SaafiSystems.Models.RevenueCategory>

<h1>@ViewBag.title</h1>
@if(Model.Count == 0)
{
    <p>No revenue categoris to remove</p>

}

<form asp-controller="RevenueCategory" asp-action="Remove" method="post">


    @foreach (var category in Model)
    {
        <input type="checkbox" name="revenueCategoryIds" id="@category.ID" value="@category.ID" />
        <label for="@category.ID">@category.Name</label>
        <br />
    }

    <input type="submit" value="Remove Selected Category(s)" />
</form>