@model PaginatedList<SaafiSystems.Models.Load>

<h1>@ViewBag.Title</h1>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="page-header" style="background:white">
    <h1 style=" font-size: 21px;color: #0b131d; font-weight: 400;font-size: 21px;margin-top: 20px;margin-bottom: 10px;font-family: inherit;font-weight: 400;line-height: 1.1;color: inherit;margin: .67em 0; font-size: 2em; box-sizing: border-box;display: block;font-size: 2em; font-weight: bold;">
        Trips Entries
        <form asp-controller="Reports" asp-action="Index" class="navbar-form navbar-left" role="search" method="get">
            <div class="form-group">
                <p>
                    <input type="text" name="searchString" class="form-control" placeholder="Search your trips, loads and more" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-group-xs " />
                </p>
            </div>

        </form>
        <a asp-controller="LoadCategory" asp-action="Add" class="hidden-xs btn btn-primary pull-right">+ Add Trip Category</a> <a asp-controller="LoadCategory" asp-action="Add" class="visible-xs-block mobile-add btn-block btn btn-success">+ Add Load Category</a>
        <a asp-controller="Load" asp-action="Add" class="hidden-xs btn btn-success pull-right">+ New Trip</a> <a asp-controller="Load" asp-action="Add" class="visible-xs-block mobile-add btn-block btn btn-success">+ New Trip</a>
    </h1>
</div>

@if (Model.Count == 0)
{
    <p>No load entries yet!</p>
}


    <table class="table table-striped">

        <tr>
            <th>Date</th>
            <th>Reference</th>

            <th>Description</th>
            <th>Owner</th>
            <th>Amount</th>
            <th>Category</th>
            <th></th>
            <th class="pull-right">Action</th>
            <th></th>

        </tr>

        @foreach (var load in Model)
        {
            <tr>
                <td>@load.Date</td>
                <td>@load.Reference</td>

                <td>@load.Description</td>
                <td>@load.Owner</td>
                <td>@load.Amount</td>
                <td>
                    <a asp-controller="Load"
                       asp-action="Edit"
                       asp-route-id="@load.ID"> @load.LoadCategory.Name</a>
                </td>
                <td></td>
                <td>
             
                <a href="/load/edit/@load.ID" class="btn btn-info btn-xs">Edit</a>
    @*@*<input type="checkbox" name="expenseIds" id="@expense.ID" value="@expense.ID" class="btn btn-danger btn-sm" />*@
    @*<input type="submit" value="Delete" class="btn btn-info btn-sm" />*@
                </td>
            <td>
                <a href="/load/remove/@load.ID" class="btn btn-danger btn-xs">Delete</a>
                @*<input type="submit" value="Edit" class="btn btn-info btn-sm" />*@
            </td>
            </tr>
        }
    </table>

<a asp-controller="Load" asp-action="Add" class="btn btn-success btn-sm">+ Add Trip</a>
<a asp-controller="LoadCategory" asp-action="Add" class="btn btn-info btn-sm pull-right">+ Add Category</a>
<br />
<br />

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled btn">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled btn">
    Next
</a>